<div class="c-title-cover {{class|}}">
  <div class="c-title-cover__main">
    <div class="c-title-cover__text">
      <h1 class="reveal">{{title}}</h1>
      <p class="c-title-cover__for reveal"><span>{{lead|}}</span> <strong>{{client|}}</strong></p>
    </div>
    <img class="c-title-cover__art reveal" src="{{image}}" alt="{{alt|}}">
  </div>
  <footer class="c-title-cover__foot reveal">
    <span class="c-title-cover__course">{{course|}}</span>
    <div class="c-title-cover__by">
      <h2>{{presented}}</h2>
      <span>{{team|}}</span>
    </div>
  </footer>
</div>
