<figure class="c-shap-bars reveal {{class|}}">
  <div class="c-shap-bars__row">
    <h4>Full model <span>26 features</span></h4>
    <div class="c-shap-bars__bar">
      <i class="is-outcome" style="--w: 58.6"><b>59%</b></i>
      <i class="is-behaviour" style="--w: 25.2"><b>25%</b></i>
      <i class="is-ticket" style="--w: 12.4"><b>12%</b></i>
      <i class="is-counter" style="--w: 3.8"><em>4%</em></i>
    </div>
  </div>
  <div class="c-shap-bars__step"><span>Remove the 8 outcome features</span></div>
  <div class="c-shap-bars__row">
    <h4>Final Judge <span>18 features</span></h4>
    <div class="c-shap-bars__bar">
      <i class="is-behaviour" style="--w: 76.3"><b>76%</b></i>
      <i class="is-ticket" style="--w: 18.1"><b>18%</b></i>
      <i class="is-counter" style="--w: 5.6"><em>6%</em></i>
    </div>
  </div>
  <ul class="c-shap-bars__legend">
    <li class="is-outcome">Outcome<br>win rate, streak, P&amp;L</li>
    <li class="is-behaviour">Behaviour<br>stops, sizing, re-entry</li>
    <li class="is-ticket">Order ticket<br>side, size, time</li>
    <li class="is-counter">Counters<br>trade counts</li>
  </ul>
  <figcaption>{{caption|}}</figcaption>
</figure>
