<div class="c-flow-queue c-flow-queue--{{label-pos|above}} {{class|}}" style="left: {{x}}px; top: {{y}}px;">
  <p class="c-flow-queue__label">{{label}}</p>
  <div class="c-flow-queue__cells">
    <span class="c-flow-queue__cell"><i class="c-flow-queue__tok" data-n="{{a|}}">{{a|}}</i></span>
    <span class="c-flow-queue__cell"><i class="c-flow-queue__tok" data-n="{{b|}}">{{b|}}</i></span>
    <span class="c-flow-queue__cell"><i class="c-flow-queue__tok" data-n="{{c|}}">{{c|}}</i></span>
  </div>
</div>
