<figure class="c-bar-ladder reveal {{class|}}">
  <div class="c-bar-ladder__bars">
    <div class="c-bar-ladder__col" style="--h: 26%; --o: 0.25;"><i></i><span>Fade<br>everything</span></div>
    <div class="c-bar-ladder__col" style="--h: 50%; --o: 0.4;"><i></i><span>Coin flip</span></div>
    <div class="c-bar-ladder__col" style="--h: 74%; --o: 0.65;"><i></i><span>C22’s current<br>model</span></div>
    <div class="c-bar-ladder__col is-ours" style="--h: 100%;"><i></i><span>Our Judge</span></div>
  </div>
  <figcaption>{{caption|}}</figcaption>
</figure>
